html
	{
	font-size: 20px;
	}

.l-wrapper
	{
	width: 100%;
	position relative;
	}

	.block-wrap
		{
		float: left;
		border: 1px solid aqua;
		width: 8.3333337%;
		height: 1000px;
		}

.container
	{
	position: absolute;
	top: 40px;
	}

	.block
    {
		opacity: 0.7;
    height: 100%;
		color: #FFFFFF;
		text-align: center;
		font-size: 20px;
    background: #FFFFFF;
    }


	.block1
    {

    height: 250px;

    border: 1px solid #333;
    background: #333;
    }

